
@using proj_tt.Web.Models.Persons
@model CreateTaskViewModel


@section scripts
{
    <environment names="Development">
        <script src="~/js/views/tasks/create.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/tasks/create.min.js"></script>
    </environment>
}


<h2>
    @("NewTask")
</h2>
<form id="TaskCreationForm">
    <div class="form-group">
        <label for="Title">@("Title")</label>
        <input type="text" name="Title" class="form-control" placeholder="@("Title")" required maxlength="@proj_tt.Tasks.Task.MaxTitleLength"></input>
    </div>    

    <div class="form-group">
        <label for="Description">@("Description")</label>
        <input type="text" name="Description" class="form-control" placeholder="@("Description")" required maxlength="@proj_tt.Tasks.Task.MaxDescriptionLength"></input>
    </div>

    <div>
        @Html.Label("AssignedPerson")
        
        @Html.DropDownList("AssignedPersonId", Model.People, new
        {
            @class="form-control",
            id="AssignedPersonCombobox"
        })

    </div>

    <button type="submit" class="btn btn-default">@("Save")</button>
</form>