@* @using System.Globalization *@
@* @using proj_tt.Web.Models.Common.Modals *@
@* @using proj_tt.Web.Models.Products *@
@* @model IndexViewModel *@

@* @{ *@
@*     Layout = null; *@
@* } *@
@* <script src="~/view-resources/Views/Products/_EditModal.js" asp-append-version="true"></script> *@
@* <link href="~/css/_EditModalProduct.css" rel="stylesheet" /> *@
@* @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProduct"))) *@
@* <form name="CategoryEditForm" role="form" class="form-horizontal"> *@
@*     <input type="hidden" name="Id" value="@Model.Product.Id"> *@
@*     <div class="modal-body"> *@

@*         <div class="form-group row required"> *@
@*             <label class="col-md-3 col-form-label">@L("Name")</label> *@
@*             <input type="text" class="form-control" name="Name" value="@Model.Product.Name" required> *@
@*         </div> *@

@*         <div class="form-group row required"> *@
@*             <label class="col-md-3 col-form-label">@L("Price")</label> *@
@*             <input type="text" class="form-control" name="Price" value="@Model.Product.Price.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture)" required> *@
@*         </div> *@

@*         <div class="form-group row"> *@
@*             <label class="col-md-3 col-form-label">@L("Discount")</label> *@
@*             <input type="number" class="form-control" name="Discount" value="@Model.Product.Discount"> *@
@*         </div> *@

@*         <div class="form-group row required"> *@
@*             <label class="col-md-3 col-form-label">@L("CategoryName")</label> *@
@*             @Html.DropDownList("CategoryId", Model.Categories, "--Chọn danh mục--", new *@
@*                 { *@
@*                     @class = "form-control", *@
@*                     id = "CategoryDropdownEdit" *@
@*                 }) *@
@*         </div> *@

@*         <div class="form-group row required"> *@
@*             <label class="col-md-3 col-form-label">@L("ImageUrl")</label> *@
@*             <input type="hidden" name="ExistingImageUrl" value="@Model.Product.ImageUrl"> *@
@*             @if (!string.IsNullOrEmpty(Model.Product.ImageUrl)) *@
@*             { *@
@*                 <img id="imagePreview" name="imagePreview" src="@Model.Product.ImageUrl" alt="Hình ảnh sản phẩm" class="img-thumbnail mb-2" style="max-width: 150px;"> *@
@*             } *@
@*             <label class="col-md-3"></label> *@
@*             <input type="file" class="form-control" name="ImageUrl" id="image" accept="image/*"> *@
@*         </div> *@
@*         <div class="form-group row"> *@
@*             <label class="col-md-3 col-form-label">@L("Description")</label> *@
@*             <textarea class="form-control" name="Description" rows="3">@Model.Product.Description</textarea> *@
@*         </div> *@
@*         <div class="form-group row"> *@
@*             <label class="col-md-3 col-form-label">@L("Stock")</label> *@
@*             <input type="number" class="form-control" name="Stock" value="@Model.Product.Stock" min="0"> *@
@*         </div> *@
@*         <div class="form-group row"> *@
@*             <label class="col-md-3 col-form-label">@L("ExpiryDate")</label> *@
@*             <input type="date" class="form-control" name="ExpiryDate" *@
@*                    value="@(Model.Product.ExpiryDate?.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture))"> *@
@*         </div> *@

@*     </div> *@
@*     @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml") *@
@* </form> *@
