@model proj_tt.Web.Models.Categories.IndexViewModel
@{
    ViewBag.Title = ("Categories");
    ViewBag.ActiveMenu = "Categories";
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Categories/IndexCategory.js" asp-append-version="true"></script>
	</environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Categories/IndexCategory.min.js" asp-append-version="true"></script>
    </environment>


}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Categories")</h1>
            </div>
            <div class="col-sm-6" text-right>
                @if (PermissionChecker.IsGranted("Pages.Products.Create"))
                {

                    <button class="btn btn-success" data-toggle="modal" data-target="#createModal">
                        <i class="fa fa-plus-square"></i> @L("Create")
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Categories/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="CategoriesTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Name")</th>
                                        <th>@L("CreationTime")</th>
                                        <th>@L("UpdateTime")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Categories/_CreateModal.cshtml", Model)

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel " data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>





